
@{
    ViewBag.Title = "Register";
    Layout = "~/Views/Shared/_muban.cshtml";
}

<!-- partial:partials/_head.html -->
<!-- partial -->
<!-- partial:partials/_header.html -->
<!-- partial -->
<div class="light b-t">
    <div id="primary" class="content-area"
         data-bg-possition="center"
         data-bg-repeat="false">
        <main id="main" class="site-main">
            <div class="container">
                <div class="col-xl-8 mx-lg-auto p-t-b-80">
                    <header class="text-center">
                        <br /><br /><br /><br />
                        <h1>创建您的账号</h1>
                        <br /><br />
                        <p>
                            请在下方填写您的信息，请务必如实填写
                        </p>
                        <br /><br /><br />
                    </header>
                    <form>
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <input type="text" class="form-control form-control-lg" placeholder="First Name">
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <input type="text" class="form-control form-control-lg" placeholder="Last Name">
                                </div>
                            </div>
                            <div class="col-lg-12">
                                <div class="form-group">
                                    <input type="text" class="form-control form-control-lg" placeholder="Email Address">
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <input type="text" class="form-control form-control-lg" placeholder="Password">
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <input type="text" class="form-control form-control-lg"
                                           placeholder="Confirm Password">
                                </div>
                            </div>
                            <div class="col-lg-12">
                                <input type="submit" class="btn btn-success btn-lg btn-block" value="Create Account">
                                <p class="forget-pass">A verification email wil be sent to you</p>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </main>
        <!-- #main -->
    </div>
    <!-- #primary -->
</div>
<!-- partial:partials/_foot.html -->
<!-- partial -->
